
body {
  font-size: 120%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

button {
  width: 20%;
  height: 45px;
  border-radius: 45px;
  cursor: pointer;
  border: none;
 
  letter-spacing: 2px;
  font-weight: bold;
  box-shadow: 0px 0px 5px #000000;
  transition: all 0.3s ease;
}
button:hover {
  background: #328b51;
  transform: translateY(-2px);
  color: #fff;
  box-shadow: 0px 0px 10px #000000;

}
#sub-btn:hover {
  background: #af3e2d;
  transform: translateY(-2px);
  color: #fff;
  box-shadow: 0px 0px 10px #000000;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #000;
  text-align: center;
  padding: 8px;
}


.error {
  color: red;
}

.wrapper {
  margin: 0 auto;
  max-width: 825px;
  text-align: center;
}

.total {
  font-size: 150%;

}

.form {
  margin-top: 25px;
  width: 100%;
 
}

.transactions {
  text-align: left;
  max-height: 300px;
  overflow: auto;
  width: 90%;
  margin: 0 auto;
  border: 2px solid #000;
  background-color: #efefef;
 
}
#myChart {
margin-top: 2%;
  
}

input {
  width: 25%;
  height: 45px;
  border-radius: 45px;
  cursor: pointer;
  border: none;
  background-color: #efefef;
  letter-spacing: 2px;
  font-weight: bold;
  box-shadow: 0px 0px 5px #000000;
  transition: all 0.3s ease;
  color: #000;
  text-align: center;
}
input:hover {
  background: #9f9f9f35;
  color: rgb(0, 0, 0);
  box-shadow: 2px 2px 10px #000000;


}

